html, body{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  background: white;
}
.row{
  -webkit-dispaly: flex;
  -ms-display: flex;
  display: flex;
  flex-direction: row;
  max-height: 70%;
  justify-content: center;
  align-items: center;
  margin: auto 0;
}
.column{
  -webkit-flex: 33%;
  -ms-flex: 33%;
  flex: 33%;
  color: white;
  margin: auto 0;
  /*max-height: 70%;*/
}
.column.sedan{
  background: darkorange; 
}
.sedan button{
  color: darkorange;
}
.column.suv{
  background: darkturquoise;
}
.suv button{
  color: darkturquoise;
}
.column.luxury{
  background: darkgreen;
}
.luxury button{
  color: darkgreen;
}
.column button{
  border: none;
  border-radius: 20px;
  background: white;
  width: 120px;
  height: 30px;
  margin-bottom: 20px;
  align-self: flex-end;
}
h2{
  margin-bottom: 30px;
}
@media (max-width: 880px){
  .column{
    flex: 100%;
  }
}

